body{
    background-color: rgb(100, 129, 223);
    color:rgba(237, 138, 191, 0.87) ;
font-family: "Permanent Marker", cursive;

}

header{
    font-size: 50px;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}