body{
    background-color: rgb(100, 129, 223);
    color:rgba(237, 138, 191, 0.87) ;

    font-family: "Permanent Marker", cursive;
    margin: 0px;

}

header{
    font-size: 50px;
    text-align: center;
    border-bottom:dashed 5px rgb(100, 86, 231);
    padding: 30px;
    color: rgb(214, 160, 214);
}

h1{
    font-size: 30px;
    padding-left: 30px;
}

p{
    font-size: 20px;
    padding-left: 30px;
}